
.contact-container
{
    margin:6vh 20vh;
    background-color: rgb(253, 255, 255);
    height: 95vh;
    width:80vw;
    box-shadow: 2px 0 10px rgba(33, 37, 41, 0.2);
    
}
.contact-card{
    display:grid;
    grid-template-columns: repeat(2,50%);

}
.infos h6{
    padding-left: 5vw;
}
.items{
    padding:4vh 0vh 3vh 3vw;
    display:grid;
    grid-template-columns: 40px 50%;
    grid-column-gap: 5%;
}
.form-group{
    margin:2vh 0vh 2vh;
}
.form-control{
    height: calc(1.5em + 1.4rem + 2px);
    padding: 0.7rem 0.95rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.15rem;
    display: block;
    width: 90%;
    height: calc(1.5em + 1.92rem + 2px);
    padding: 0.96rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}
#complaint{
    height: 70%;
    overflow: visible;
}
.submit-btn{
    font-weight: 400;
    height: 9vh;
    color: #f2f3f5;
    text-align: center;
    
    background-color: rgba(24, 25, 31, 0.918);
    font-size: 1rem;
    cursor: pointer;
    display: block;
    width: 90%;

}